<template>
  <div class="about">
    <h1>{{ content }}</h1>
    <button id="change-text-btn" @click="changeContent">change content</button>
  </div>
</template>

<script>
export default {
  name: "About",
  data() {
    return {
      content: "This is an about page",
    };
  },
  methods: {
    changeContent() {
      this.content = "The content is changed.";
      return;
    },
  },
};
</script>
