<template>
  <div>
    <form @submit.prevent="handleSubmit">
      <input v-model="username" data-username />
      <input type="submit" />
    </form>

    <div class="message" v-if="submitted">
      Thank you for your submission, {{ username }}.
    </div>
  </div>
</template>

<script>
import { addPost } from "@/api/api";
export default {
  name: "FormSubmitter",

  data() {
    return {
      username: "",
      submitted: false,
    };
  },

  methods: {
    async handleSubmit() {
      const { username } = this;
      const res = await addPost({ username });
      if (res) {
        console.log({ res });
        this.submitted = true;
      }
    },
  },
};
</script>
